@import 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.logo {
  height: 35px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.analog-markdown p {
  text-align: left;
}

.hd-report {
  font-family: Arial;
  padding: 20px;
}

.title {
  text-align: center;
}

.diagram svg {
  width: 100%;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    print-color-adjust: exact !important;         /* Firefox */
  }

  @page {
    size: A4;
    margin: 10mm 0;
  }

  body {
    background: white;
  }

  header, footer, button, .level-switch {
    display: none !important;
  }

  body {
    font-size: 12pt;
    line-height: 1.2;
  }

  h1 {
    font-size: 24pt;
    margin-top: 10px;
  }

  h2 {
    font-size: 18pt;
    margin-top: 10px;
  }

  h3 {
    font-size: 16pt;
    margin :0;
  }

  h6 {
    font-size: 11pt;
    margin: 0;
  }

  .page-break {
    page-break-before: always;
  }

  .page-end {
    page-break-after: always;
  }

  svg {
    width: 100%;
    height: auto;
    page-break-inside: avoid;
  }

  .diagram-section {
    page-break-after: always;
  }

  div, .card {
    break-inside: avoid;
    page-break-inside: avoid;
  }

}
